

body {
  padding: 50px;
  background-color: #66CCFF;
  font-family: sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.done {
  text-decoration: line-through;
}

