
  .todoItem {
    width: 200px;
    min-height: 50px;
    border: none;
    background-color: aliceblue;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    color: #081e38;
    font-family: "Josefin Sans", sans-serif;
    font-size: 16px;
  
    transition: background-color 0.5s, color 0.5s;
  }
  
  .todoItem:hover {
    background-color: #6cd4ff;
    color: white;
  
    transition: background-color 0.5s, color 0.5s;
  }
  .todoItem:active {
    outline: 0;
    border: none;
    background-color: #14345b;
    color: white;
  }
  
  ul {
    list-style-type: none;
    width:30%;
    display: centre;
    margin:auto;
    overflow: hidden;
  }

  ul.theList {
    padding: 0;
    list-style: none;
    display: inline-flex;
    justify-content: center;
    flex-direction: column-reverse;
  }
  
  
  .theList li {
    color: #333;
    background-color: rgba(255, 255, 255, .5);
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    margin-left: 59px;
    transition: background-color .2s ease-out;
  }
  
  .todoListMain .theList li:hover {
    background-color: pink;
    cursor: pointer;
  }
  /* li{

    width: 400px;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  } */
  
  
  

  .checkbox {
    border: none;
    background-color: white ;
    font-size: 1.4rem;
    height: 30px; 
    width:30%;
  }
  input {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #FFF;
    width: 165px;
  }
  
  .button {
    padding: 10px;
    font-size: 16px;
    margin: 10px;
    margin-right: 0px;
    background-color: #0066FF;
    color: #FFF;
    border: 2px solid #0066FF;
  }
  
  button:hover {
    background-color: #003399;
    border: 2px solid #003399;
    cursor: pointer;
  }


  
.dis{

  display: flex;
}